/* animation slide */
@keyframes runSlide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(var(--slide-direction));
    }
}
/* Media Viewports */
@media (max-width: 700px) {
    .b-container {
        display: grid;
    }
}
@media (min-width: 1000px) {
    .carousel {
        max-width: 80%;
        margin: 0px auto;
    }
}