/* animation slide */
@keyframes runSlide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(var(--slide-direction));
    }
}

/* Media Viewports */
@media (max-width: 700px) {
    .b-container {
        display: inline-block;
    }

    .profile-text {
        margin-top: 2rem;
    }
}

@media (max-width: 640px) {
    .projects-container {
        grid-template-columns: 1fr;
    }

    .project-window {
        margin-top: 1rem;
    }
}

@media (min-width: 1000px) {
    .projects-container,
    .carousel {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .projects-container {
        max-width: 50%;
    }

}
