#works {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: auto;
}
.work-div {
    margin: 3rem auto;
    display: flex;
    flex-direction: row;
}
.social-img {
    max-width: 32rem;
    margin: auto;
}
.social-text {
    max-width: 90%;
    margin: auto;
    max-width: 30rem;
}
@media (max-width: 864px) {
    #works {
        margin-top: 12rem;
    }
    .work-div {
        flex-direction: column;
    }
    .social-text {
        padding-top: 2rem;
    }
    .social-img {
        max-width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        overflow: hidden;
    }
}